<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Game Library App</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Start
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="library">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Game Library
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="steam">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Steam Games
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Settings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> About
            </NavLink>
        </div>
    </nav>
</div>
