@page "/about"
<h1>Game Library App</h1>
<h3>By Tanner Ghosen</h3>
<p>This is a .NET Maui / Blazor Hybrid App that shows you your general game statistics. So far, only Steam is supported with more platforms to be eventually be added.</p>
<h4>Hey, I'm having an issue with the program! / How do I suggest a new feature?</h4>
<p>Please go to the GitHub Issues Page <a href="https://github.com/tannerghosen/GameLibraryApp/issues">here</a>!</p>